@font-face {
  font-family: iosevkaTermNFM;
  src: url(./iosevka_nerd_font.ttf);
}

html {
    height: 100%;
    line-height: 1.5em;
    font-size: 20px;
    text-size-adjust: 100%;
    font-family: iosevkaTermNFM;
}

header {
  width: calc(100% - 4em);
  padding: 1em;
  margin: 1em;
  text-align: center;
}

footer {
  width: calc(100% - 4em);
  text-align: center;
  padding: 1em;
  margin: 1em;
}

body {
  height: 100%;
  margin: auto;
  background-color: black;
  color: white;
}

article {
  padding-left: 2em;
  padding-right: 2em;
  margin: 1em;
}

a:link {
  color: cyan;
}
a:visited {
  color: darkmagenta;
}
a:hover {
  color: lawngreen;
}
a:active {
  color: gold;
}

@media only screen and (min-width: 1000px) {
  .hw {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

.wrapper {
  min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto;
}

.ib {
  display: inline-block;
}

.ib_el {
  display: inline-block;
  margin: 0.25em;
}

.nav_el {
  font-size: 1.5em;
}

hr {
  width: 100%;
}

.fh {
  height: 100%;
  min-height: 100%;
}
